pkgbase = kimaki
	pkgdesc = Discord bot - Iron Man's Jarvis for coding agents with OpenCode integration
	pkgver = 0.4.67
	pkgrel = 1
	url = https://github.com/remorses/kimaki
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = kimaki-0.4.67.tgz
	source = https://registry.npmjs.org/kimaki/-/kimaki-0.4.67.tgz
	sha256sums = 6bc9eea2395169a6f7e3ff56c02ffa212a8b9271475d08c65e172fd6925a7ecd

pkgname = kimaki
