pkgbase = kimaki
	pkgdesc = Discord bot - Iron Man's Jarvis for coding agents with OpenCode integration
	pkgver = 0.4.59
	pkgrel = 1
	url = https://github.com/remorses/kimaki
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = kimaki-0.4.59.tgz
	source = https://registry.npmjs.org/kimaki/-/kimaki-0.4.59.tgz
	sha256sums = b51c7a6983325f2c55fdfa9ce4d907dbb32775014bf85a309241bb41cf3f271a

pkgname = kimaki
