pkgbase = kimaki
	pkgdesc = Discord bot - Iron Man's Jarvis for coding agents with OpenCode integration
	pkgver = 0.4.81
	pkgrel = 1
	url = https://github.com/remorses/kimaki
	arch = x86_64
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = kimaki-0.4.81.tgz
	source = https://registry.npmjs.org/kimaki/-/kimaki-0.4.81.tgz
	sha256sums = 3002dbeb78b9ad84724453989dfd4b39f41d1cf02faf33bf7738fe2948bb6f8b

pkgname = kimaki
