*.zst
*.tar
*.tar.*
pkg/
src/
comaps/
omim-build-release/
osmctools/
kothic/
protobuf/
Vulkan-Headers/
boost/
just_gtfs/
libexpat/
glm/
icu/
freetype/
googletest/
fast_double_parser/
pugixml/
jansson/
gflags/
fast_obj/
harfbuzz/
utfcpp/
glfw/
CMake-MetalShaderSupport/
imgui/
