pkgbase = claude-notify
	pkgdesc = Cross-platform desktop notifications for Claude Code
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/mylee04/claude-notify
	arch = any
	license = MIT
	depends = bash
	depends = libnotify
	optdepends = jq: for JSON parsing in status detection
	source = code-notify-1.3.0.tar.gz::https://github.com/mylee04/claude-notify/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = 2f96994e1fa4183726208bddb9952eac2c6156a8948763de97f1792279191a33

pkgname = claude-notify
