pkgbase = openchamber
	pkgdesc = Desktop and web interface for OpenCode AI agent
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/btriapitsyn/openchamber
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = web-1.6.2.tgz
	source = https://registry.npmjs.org/@openchamber/web/-/web-1.6.2.tgz
	sha256sums = f0e438ea05f8a504e3f31246087e9747e3b40cb669203f0d7406bc9aef8bd7b9

pkgname = openchamber
