pkgbase = openchamber
	pkgdesc = Desktop and web interface for OpenCode AI agent
	pkgver = 1.6.9
	pkgrel = 1
	url = https://github.com/btriapitsyn/openchamber
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = web-1.6.9.tgz
	source = https://registry.npmjs.org/@openchamber/web/-/web-1.6.9.tgz
	sha256sums = 9b2302662b36b279ff40b404a9c264dd25c9d027294f89e98c5f73c93dc6563f

pkgname = openchamber
