pkgbase = openchamber
	pkgdesc = Desktop and web interface for OpenCode AI agent
	pkgver = 1.7.1
	pkgrel = 1
	url = https://github.com/btriapitsyn/openchamber
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = web-1.7.1.tgz
	source = https://registry.npmjs.org/@openchamber/web/-/web-1.7.1.tgz
	sha256sums = 80c05768548b227c5708f396e6d0cdec1ad55195846ff5ab4d3ba6f58985324b

pkgname = openchamber
