pkgbase = promptfoo
	pkgdesc = Test and evaluate LLM outputs - AI red teaming, pentesting, and vulnerability scanning
	pkgver = 0.120.23
	pkgrel = 1
	url = https://github.com/promptfoo/promptfoo
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	optdepends = python: for Python providers
	optdepends = ollama: for local Ollama models
	noextract = promptfoo-0.120.23.tgz
	options = !strip
	source = https://registry.npmjs.org/promptfoo/-/promptfoo-0.120.23.tgz
	sha256sums = 75f03ccbc742f21448f73c96318899b52bbceec5292df6c99bf91ae0fd09f46f

pkgname = promptfoo
