pkgbase = promptfoo
	pkgdesc = Test and evaluate LLM outputs - AI red teaming, pentesting, and vulnerability scanning
	pkgver = 0.120.21
	pkgrel = 1
	url = https://github.com/promptfoo/promptfoo
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	optdepends = python: for Python providers
	optdepends = ollama: for local Ollama models
	noextract = promptfoo-0.120.21.tgz
	options = !strip
	source = https://registry.npmjs.org/promptfoo/-/promptfoo-0.120.21.tgz
	sha256sums = 5324a6a11beb45b48d12067b16070df739dd30bd4689a1937197d60aa9425a1f

pkgname = promptfoo
