pkgbase = promptfoo
	pkgdesc = Test and evaluate LLM outputs - AI red teaming, pentesting, and vulnerability scanning
	pkgver = 0.120.22
	pkgrel = 1
	url = https://github.com/promptfoo/promptfoo
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	optdepends = python: for Python providers
	optdepends = ollama: for local Ollama models
	noextract = promptfoo-0.120.22.tgz
	options = !strip
	source = https://registry.npmjs.org/promptfoo/-/promptfoo-0.120.22.tgz
	sha256sums = e59a655a638729164a803b5777a9f785a6209bfd556483b2b72fd39dd7789c93

pkgname = promptfoo
