pkgbase = ccstatusline
	pkgdesc = Highly customizable status line formatter for Claude Code CLI with Powerline support
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/sirmalloc/ccstatusline
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = ccstatusline-2.2.0.tgz
	source = https://registry.npmjs.org/ccstatusline/-/ccstatusline-2.2.0.tgz
	sha256sums = 32a607aac68b4c7d95ef2ed68b1b002260a6b0449d9e4a1188d640d97e28280a

pkgname = ccstatusline
