pkgbase = ccstatusline
	pkgdesc = Highly customizable status line formatter for Claude Code CLI with Powerline support
	pkgver = 2.1.7
	pkgrel = 1
	url = https://github.com/sirmalloc/ccstatusline
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	provides = node
	noextract = ccstatusline-2.1.7.tgz
	source = https://registry.npmjs.org/ccstatusline/-/ccstatusline-2.1.7.tgz
	sha256sums = d804e00628a424cdb672a71b2075f9abb3d3331df2e44e5b6fdeae8bf2add7e8

pkgname = ccstatusline
